<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<string>BlackBackground</string>
	<key>elements</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{3.612500,5.437500}</string>
			<key>identifier</key>
			<integer>1</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{3.237500,5.437500}</string>
			</dict>
			<key>size</key>
			<string>{5.725000,10.125000}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{9.387500,7.981250}</string>
			<key>identifier</key>
			<integer>2</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{9.012500,7.981250}</string>
			</dict>
			<key>size</key>
			<string>{5.725000,5.037500}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{9.387500,2.893750}</string>
			<key>identifier</key>
			<integer>4</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{9.012500,2.893750}</string>
			</dict>
			<key>size</key>
			<string>{5.725000,5.037500}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
	</array>
	<key>type</key>
	<string>Photos</string>
</dict>
</plist>
