<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elements</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{6.882000,8.593750}</string>
			<key>identifier</key>
			<integer>1</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{6.882000,8.593750}</string>
			</dict>
			<key>size</key>
			<string>{13.264000,5.562500}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{20.146000,8.593750}</string>
			<key>identifier</key>
			<integer>2</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{20.146000,8.593750}</string>
			</dict>
			<key>size</key>
			<string>{13.264000,5.562500}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{6.882000,3.031250}</string>
			<key>identifier</key>
			<integer>3</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{6.882000,3.031250}</string>
			</dict>
			<key>size</key>
			<string>{13.264000,5.562500}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{20.146000,3.031250}</string>
			<key>identifier</key>
			<integer>4</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{20.146000,3.031250}</string>
			</dict>
			<key>size</key>
			<string>{13.264000,5.562500}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
	</array>
	<key>type</key>
	<string>Photos</string>
</dict>
</plist>
