<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elements</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{3.425000,8.825000}</string>
			<key>identifier</key>
			<integer>1</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{3.050000,8.825000}</string>
			</dict>
			<key>size</key>
			<string>{5.350000,5.600000}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{8.825000,8.825000}</string>
			<key>identifier</key>
			<integer>2</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{8.450000,8.825000}</string>
			</dict>
			<key>size</key>
			<string>{5.350000,5.600000}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{3.425000,3.175000}</string>
			<key>identifier</key>
			<integer>3</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{3.050000,3.175000}</string>
			</dict>
			<key>size</key>
			<string>{5.350000,5.600000}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>center</key>
			<string>{8.825000,3.175000}</string>
			<key>identifier</key>
			<integer>4</integer>
			<key>leftPage</key>
			<dict>
				<key>center</key>
				<string>{8.450000,3.175000}</string>
			</dict>
			<key>size</key>
			<string>{5.350000,5.600000}</string>
			<key>type</key>
			<string>PhotoCell</string>
		</dict>
	</array>
	<key>type</key>
	<string>Photos</string>
</dict>
</plist>
