<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elements</key>
	<array>
		<dict>
			<key>alignment</key>
			<string>center</string>
			<key>default</key>
			<string>InsertATitle</string>
			<key>identifier</key>
			<integer>1</integer>
			<key>leftPage</key>
			<dict>
				<key>mirrorLocation</key>
				<true/>
			</dict>
			<key>linespacing</key>
			<real>22</real>
			<key>size</key>
			<string>{8.600000,1.406250}</string>
			<key>style</key>
			<string>Classic Title Font</string>
			<key>topLeft</key>
			<string>{1.825000, 10.218750}</string>
			<key>type</key>
			<string>TextField</string>
		</dict>
		<dict>
			<key>alignment</key>
			<string>left</string>
			<key>default</key>
			<string>InsertText</string>
			<key>identifier</key>
			<integer>2</integer>
			<key>leftPage</key>
			<dict>
				<key>mirrorLocation</key>
				<true/>
			</dict>
			<key>linespacing</key>
			<real>18</real>
			<key>size</key>
			<string>{8.600000,8.437500}</string>
			<key>style</key>
			<string>Classic Text Font</string>
			<key>topLeft</key>
			<string>{1.825000, 8.812500}</string>
			<key>type</key>
			<string>TextField</string>
		</dict>
	</array>
	<key>type</key>
	<string>Text</string>
</dict>
</plist>
